<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.BancoDadosBiblioteca_ISPILConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=F:\j\SISTEMA_DA_BIBLIOTECA_DO_ISPIL\MODELO\BancoDadosBiblioteca_ISPIL.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.BancoDadosBiblioteca_ISPILConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\João Eduardo Pequena\Documents\Visual Studio 2012\Projects\j\SISTEMA_DA_BIBLIOTECA_DO_ISPIL\MODELO\BancoDadosBiblioteca_ISPIL.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>